<!DOCTYPE html>
<html>

<head>
    <%- include ('../partials/head2.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div id="container">
        <h4><%= currentUser.username %>'s Shopping Cart</h4>
        <br/>
        <ul>
            <% for(const item of userCart){ %>
                <li><h5>Product: <%= item.name %></h5></li>
                <li><h5>$<%= item.price %></h5></li>
                <li><h5>QTY:<%= item.qty %></h5></li>
                <li>
                <!-- ADD Update/Edit HERE -->
                    <button id="update">
                        <a href="/users/cart/<%= item.id %>/edit">UPDATE</a>
                    </button>
                </li>
                <li>
                <!--  ADD DELETE FORM HERE-->
                    <form action="/users/cart/<%= item.id %>?_method=DELETE" method="POST">
                        <input id="delete" type="submit" value="DELETE" />
                    </form>
                </li>
            <% } %> 
        </ul>
        <br/>
        <button><a id="home" href="/products">Home</a></button>
    </div>
</body>

</html>