<!DOCTYPE html>
<html>

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div id="container">
        <h4><%= currentUser.username %>'s Shopping Cart</h4>
        <ul>
            <% for(const item of userCart){ %>
                <li><h5><%= item.name %></h5></li>
                <li><h5>$<%= item.price %></h5></li>
                <img class="cart-img" src="<%= item.img %>"/>
                <li><h5>Count:<%= item.qty %></h5></li>
            <% } %> 
        </ul>
        <br/>
        <button><a id="home" href="/products">Home</a></button>
    </div>
    <div>
        <%- include ('../partials/footer.ejs') %>
      </div>
</body>
</html>


