<!DOCTYPE html>
<html>

<head>
    <%- include ('../partials/head2.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div id="container">
        <h4><%= currentUser.username %> SHOPPING CART</h4>
        <br/>
        <ul>
            <% for(const product of products){ %>
                <% user.ShoppingCart.products.Push(productID) %>

                <% if (ShoppingCart.products.length > 0) { %>
                    <% ShoppingCart.products.forEach(product => { %>
                        <li>
                            <h1><%= product.productID.name %></h1>
                            <h2>Quantity: <%= product.qty %></h2>
                        </li>
                    <% }) %>
                <% } %> 
            <% } %> 
            
        </ul>
        <br/>
        <button><a id="home" href="/products">Home</a></button>
    </div>
</body>

</html>