<!DOCTYPE html>
<html>

<head>
  <%- include ('../partials/head.ejs') %>
</head>

<body>
  <nav>
    <%- include ('../partials/nav.ejs') %>
  </nav>
  <h6>Please log in or sign up to view products</h6>
  <div id="container">
    <ul class="row">
      <% for(const product of products){ %>
      <li class="col s12 m4">
        <span class="card-panel">
          <!-- Name: -->
          <a href="/products/<%=product.id; %>"> <%=product.name %> </a>
          <br class="divider"/>
          <!-- Price  -->
          $<%=product.price %>
          <br class="divider"/>
          <br>
          <img src="<%= product.img %>" />
          <br class="divider"/>
          <br>
        </span>
      </li>
      <% } %>
    </ul>
    <br class="divider"/>
    <ul>
      <% if (currentUser) { %>
      <button><a id="create" href="/products/new">Create a New Product</a></button>
      <% } %>
    </ul>
  </div>
</body>

</html>