<!DOCTYPE html>
<html>

<head>
  <%- include ('../partials/head.ejs') %>
</head>

<body>
  <nav>
    <%- include ('../partials/nav.ejs') %>
  </nav>
  <div id="container">
    <!-- <h1 class="title">AMAZING</h1> -->
    <ul class="row">
      <% for(const product of products){ %>
      <li class="grid col s12 m4 l8">
        <div class="card-panel">
          Name:
          <a href="/products/<%=product.id; %>"> <%=product.name %> </a>
          <br class="divider"/>
          Price $<%=product.price %>
          <br class="divider"/>
          <img src="<%= product.img %>" />
          <br class="divider"/>
        </div>
      </li>
      <% } %>
    </ul>
    <br class="divider"/>
    <ul>
      <% if (currentUser) { %>
      <button><a id="create" href="/products/new">Create a New Product</a></button>
      <% } %>
    </ul>
  </div>
</body>

</html>