<!DOCTYPE html>
<html>

<head>
    <%- include ('../partials/head2.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div id="container">
        <h4><%= product.name %></h4>
        <br />
        <p>"<%=product.description; %>"</p>
        <br />
        <img src="<%= product.img %>" />
        <br />
        Price $<%= product.price %>
        <br />
        <P>
        <div class="btn-group">
            <a href="/products/<%= product.id %>/edit" class="btn-small blue">Customize Product</a>
            <form action="/users/<%= currentUser._id %>/products/<%= product._id %>?_method=PATCH" method="POST">
                <input type="submit" value="ADD TO CART" class="btn-small blue"/>
            </form>
            <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" class="btn-small blue"/>
            </form>
        </div>
        </P>
        <br/>
        <%- include ('../partials/footer.ejs') %>
    </div>
    <div>
        
    </div>
</body>
</html>