<!DOCTYPE html>
<html>

<head>
    <%- include ('../partials/head2.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div id="container">
        <!-- <h2>Product Show Product</h2> -->
        <h4><%= product.name %></h4>
        <br />
        <p>"<%=product.description; %>"</p>
        <br />
        <img src="<%= product.img %>" />
        <br />
        Price $<%= product.price %>
        <br />
        <p>
            <% if(product.isReadyToSell === true){ %>
            PRODUCT IS READY TO Sell!
            <br />
            <% } else { %>
            THIS ITEM HAS TO BE CUSTOM MADE!
            <br />
            <% } %>
        </p>
        <br />
        <P>
            <% if (product.qty <= 0 ) { %>
            THIS ITEM IS OUT OF STOCK
            <% } else { %>
            <button id="update">
                <a href="/products/<%= product.id %>/edit">Customize Product</a>
            </button>
            <br />
        <form action="/users/<%= currentUser._id %>/products/<%= product._id %>?_method=PATCH" method="POST">
            <input id="buy" type="submit" value="ADD TO CART" />
        </form>
        <br />
        <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
            <input id="delete" type="submit" value="DELETE" />
        </form>
        <% } %>
        </P>
        <br />
    </div>
    <div>
        <%- include ('../partials/footer.ejs') %>
    </div>
</body>
</html>