<!DOCTYPE html>
<html>
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <nav>
            <%- include ('../partials/nav.ejs') %>
        </nav>
        <div id="container">
        <h2>Product Show Product</h2>
        <h3>Product Name: </h3> <%= product.name %>
        <br/>
        <p>"<%=product.description; %>"</p>
        <br/>
        <img src="<%= product.img %>" />
        <br/>
        Price $<%= product.price %>
        <br/>
        <p>
        <% if(product.isReadyToSell === true){ %>
            <!-- PRODUCT IS READY TO Sell!
            <br/> -->
            SCHEDULE A SHOWING TODAY!
        <% } else { %>
            THIS ITEM HAS TO BE CUSTOM MADE!
            <br/>
        <% } %>
        </p>
        <br/>
        <h3>Quantity </h3> <%= product.qty %>
        <P>
            <% if (product.qty <= 0 ) { %>
                THIS ITEM IS OUT OF STOCK
            <% } else { %>
                <form action="/products/<%= product.id %>/?_method=PATCH" method="POST">
                    <input id="buy" type="submit" value="BUY / ADD TO CART"/>
                </form>
            <% } %> 
        </P>
        <br/>
        <!-- <form action="/products/<%= product.id %>/?_method=PATCH" method="POST">
            <input type="submit" value="BUY"/>
        </form> -->
        <!-- <h4>Created at: <%= product.createdAt %></h4> -->
        <br/>
    <button><a id="home" href="/products">Home</a></button>
    </div>
    </body>
</html>